- if @id_token
  %h2 Decoded ID Token
  = @id_token
- if @access_token
  %h2 Decoded Access Token
  = @access_token
- if @token_set
  %h2 Rest of token_set
  %strong expires_in:
  %span= @token_set["expires_in"]
  %hr
  %strong token_type:
  %span= @token_set["token_type"]
  %hr
  %strong refresh_token:
  %span= @token_set["refresh_token"]
  %hr
  %strong scope:
  %span= @token_set["scope"]
  %hr
